# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/components/Forms/old sunday.tsx
src/components/Forms/tithe2.tsx
src/pages/Member/working-Member.tsx
src/pages/Member/working-Member
src/components/Forms/Sunday copy.tsx
src/pages/Forms/tithe2.tsx
src/pages/Forms/Sunday copy.tsx
src/pages/Forms/old sunday.tsx
src/pages/Forms/Member copy.tsx
src/trash.txt
src/pages/Visitor/working-Member
src/pages/Members/Data.tsx
src/pages/Forms/Payments/Untitled-1
src/pages/Members/upload.tsx
src/pages/Dashboard/NewDash.tsx
src/pages/Dashboard/index copy.tsx
.env
/src/utils/firebaseConfig copy.tsx
src/pages/Forms/Member/Untitled-1.js
src/pages/Forms/Member/Demo.tsx
src/pages/Job/Jobs.tsx
src/index copy.tsx
src/cookieState
src/index copy
.yarn